.card {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 144px;
  height: 219px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;

  &.inverted {
    background-image: url('../images/back.svg') !important;
    cursor: pointer;
  }

  &.dragged {
    z-index: 5;
  }
}

@for $i from 1 through 13 {
  #heart_#{$i} {
    background-image: url('../images/heart_#{$i}.svg');
  }
}

@for $i from 1 through 13 {
  #diamond_#{$i} {
    background-image: url('../images/diamond_#{$i}.svg');
  }
}


@for $i from 1 through 13 {
  #club_#{$i} {
    background-image: url('../images/club_#{$i}.svg');
  }
}


@for $i from 1 through 13 {
  #spade_#{$i} {
    background-image: url('../images/spade_#{$i}.svg');
  }
}

