@import 'card';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #00774d;
  height: 100vh;
  width: 100vw;
  padding: 25px;
  border: solid 10px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  overflow: hidden;
}

button {
  position: absolute;
  background: rgba(255, 255, 255, 0.1); 
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);

  &:hover {
    transition: all .5s;
    border: solid 1px rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
  &.finish {
    bottom: 30px;
    right: 30px;
  }
  &.restart {
    bottom: 30px;
    left: 30px;
  }
}

.top-row,
.bottom-row {
  display: flex;
  justify-content: space-around;
}

.final-pills,
.deck,
.bottom-row {
  display: flex;
  padding: 10px;

  .pill {
    position: relative;
    width: 144px;
    height: 219px;
    border: solid 10px rgba(255, 255, 255, 0.1);
    border-radius: 15px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:before {
      content: "";
      position: absolute;
      width: 60%;
      padding-bottom: 60%;
      border-radius: 50%;
      border: solid 10px rgba(255, 255, 255, 0.1);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

canvas {
  position:absolute;
  top:0;
  z-index: 100;
}
